#children-wrapper {
    display: flex;
    justify-content: space-evenly; /* to evenly distribute the boxes */
    flex-wrap: wrap; /* to wrap the boxes to a new line when there is not enough space */
  }


.fix-box {
    
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 1px white dotted;
    border-radius: 5px;
}

#master{
    border-radius: 5px;
    border: 2px white ridge;
    width: 100%;
}

.subheading{
    color: white;
    text-align: center;
}